# dependencies
/node_modules
/coverage

# IDEs and editors
/.idea
.vscode/**/*
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Build
/src
/tests
jest.config.js
tslint.json
tsconfig.json
tsconfig.*.build.json
package-lock.json
.gitignore
.npmignore
.npmrc
.travis.yml
.eslintrc.js
.nvmrc
.prettierignore
.prettierrc.json
*.js.map