# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Build
/src
/tests
jest.config.js
tslint.json
tsconfig.json
tsconfig.*.build.json
package-lock.json
.gitignore
.npmignore
.npmrc